<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<title>My first EJS</title>

</head>

<body>
    <div><h1><%= localName %></h1></div>
    <div><h1><%= name %></h1></div>
    <div>hello world this is my ejs</div>
</body>

</html>